* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../Fonts/3964.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../Fonts/3966.ttf");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../Fonts/MyriadPro-Regular.ttf");
}
li {
  list-style: none;
}

header {
  margin: 1.1rem auto 1.5rem;
  padding-bottom: 0.91rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid #e5e5e5;
}
header .logo {
  width: 28%;
  height: 20px;
}

.back, .sing {
  padding-top: 0.25rem;
}
.back img, .back p, .sing img, .sing p {
  display: inline-block;
}
.back img, .sing img {
  height: 12px;
}
.back p, .sing p {
  font-family: "Roboto Medium", sans-serif;
  color: black;
  font-size: 12px;
  letter-spacing: 1px;
}
.back a, .sing a {
  text-decoration: none;
}

article {
  margin-top: 2.9rem;
  text-align: center;
  line-height: 2.9rem;
}
article h1 {
  font-family: "Roboto Medium", sans-serif;
  font-weight: initial;
  font-size: 1.5em;
  line-height: 1;
}
article p {
  font-family: "Roboto Regular", sans-serif;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 76%;
  margin: 30px auto 0;
}
.cards .card-background {
  background-color: #f8f8f8;
  border: 1px solid #e5e5e5;
  padding: 0 -1px;
}
.cards .card-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.cards .card {
  width: 31%;
  text-align: center;
  font-family: "Roboto Regular", sans-serif;
  /*------------top pictures---------------*/
  /*---------------------------------------------*/
  /*--------color title cards--------*/
  /*---------------------------------------*/
}
.cards .card .img {
  height: 200px;
}
.cards .card .img1 {
  background: url("../img/img-card1.png") no-repeat;
  background-size: cover;
}
.cards .card .img2 {
  background: url("../img/img-card2.png") no-repeat;
  background-size: cover;
}
.cards .card .img3 {
  background: url("../img/img-card3.png") no-repeat;
  background-size: cover;
}
.cards .card h5 {
  font-weight: 500;
  font-size: 21px;
}
.cards .card .size {
  font-size: 1.3rem;
}
.cards .card p {
  font-size: 0.8rem;
}
.cards .card .button {
  outline: 0;
  margin-top: 1.25rem;
  border-radius: 2em;
  width: 8.125rem;
  height: 2.5rem;
  border: 1px solid #fff;
}
.cards .card .button span {
  color: white;
}
.cards .card .button1 {
  background-color: #2b87dc;
}
.cards .card .button2 {
  background-color: #fff;
  border: 1px solid #1ab0b9;
}
.cards .card .button2 span {
  color: #1ab0b9;
}
.cards .card .button3 {
  background-color: #3a55af;
}
.cards .card .color1 {
  color: #2b87dc;
}
.cards .card .color2 {
  color: #1ab0b9;
}
.cards .card .color3 {
  color: #3a55af;
}
.cards .color1, .cards .color2, .cards .color3 {
  margin: 1.1rem 0 0.5rem;
}
.cards .prise {
  font-size: 13px;
}
.cards .card-bottom {
  text-align: left;
  width: 310px;
  margin: auto;
}
.cards .card-bottom ul {
  font-family: "Roboto Regular", sans-serif;
  font-size: 0.75rem;
  border-top: 1px dashed #e5e5e5;
  margin: 1.4rem auto 0;
  padding-top: 0.95rem;
  line-height: 2rem;
  width: 85%;
  letter-spacing: 0.025rem;
}
.cards .card-bottom .checkbox {
  width: 85%;
  margin: 0.4rem auto 0.3rem;
  display: flex;
  flex-direction: column;
  line-height: 1.9rem;
}
.cards .card-bottom .checkbox label {
  font-family: "Roboto Regular", sans-serif;
  font-size: 12px;
}
.cards .card-bottom .checkbox label input {
  margin-right: 10px;
}
.cards .card-bottom p {
  font-family: "Roboto Medium", sans-serif;
  font-size: 12px;
  width: 14%;
  margin: 3px auto 23px;
}
.cards .bottom-color1 p {
  width: 16%;
  margin: 0 auto 1.3rem;
  letter-spacing: 0.1rem;
  color: #2b87dc;
}
.cards .bottom-color1 li::before {
  content: url("../img/ChekColor1.png");
  padding-right: 3px;
}
.cards .bottom-color2 p {
  width: 16%;
  margin: 67px auto 23px;
  letter-spacing: 1px;
  color: #1ab0b9;
}
.cards .bottom-color2 li::before {
  content: url("../img/ChekColor2.png");
  padding-right: 3px;
}
.cards .bottom-color3 p {
  width: 16%;
  margin: 36px auto 23px;
  letter-spacing: 1px;
  color: #3a55af;
}
.cards .bottom-color3 ul li::before {
  content: url("../img/ChekColor3.png");
  padding-right: 3px;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background-image: linear-gradient(#000 10px, #000 10px);
  color: #fff;
}

.offers {
  margin: 2.8rem auto 3.75rem;
  width: 69%;
  text-align: center;
}
.offers .offers-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 1.9rem;
}
.offers .offers-flex .border {
  border-right: 1px solid #e5e5e5;
}
.offers p {
  font-family: "Roboto Regular", sans-serif;
  font-size: 0.9em;
  margin-bottom: 1.1rem;
}
.offers .offers-card .offers-card-button {
  outline: 0;
  margin-top: 0.6rem;
  border-radius: 3em;
  width: 8.1rem;
  height: 6vh;
  border: 1px solid #fff;
  background-color: #1ab0b9;
}
.offers .offers-card .offers-card-button span {
  color: #fff;
}
.offers .offers-card .offers-card-title {
  font-family: "Roboto Regular", sans-serif;
  font-size: 1.3rem;
  color: #1ab0b9;
}

.benefits {
  margin: auto;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  padding-top: 1.7rem;
  font-family: "Roboto Regular", sans-serif;
}
.benefits .benefits-title {
  font-size: 2.1rem;
}
.benefits .benefits-flex {
  margin: 2.6rem auto 2.3rem;
  width: 74%;
  display: flex;
  justify-content: space-between;
}
.benefits .benefits-flex .benefits-card {
  width: 20%;
}
.benefits .benefits-flex .benefits-card img {
  width: 1rem;
  margin-bottom: 1rem;
}
.benefits .benefits-flex .benefits-card p {
  font-size: 0.8rem;
}
.benefits .benefits-flex .benefits-card .text-bold {
  font-weight: bold;
  margin-bottom: 1.7rem;
}

.slider {
  width: 100%;
  margin: auto;
  height: 60vh;
  overflow: hidden;
  z-index: 6;
  /*-----------slides img--------*/
  /*----------------------------------*/
}
.slider .slider-item1 {
  background: url("../img/Slider.jpg") no-repeat;
  background-size: cover;
}
.slider .slider-item2 {
  background: url("../img/Slider1.jpg") no-repeat;
  background-size: cover;
}
.slider .slider-item3 {
  background: url("../img/Slider2.jpg") no-repeat;
  background-size: cover;
}
.slider .slider-item4 {
  background: url("../img/Slider1.jpg") no-repeat;
  background-size: cover;
}
.slider .slider-item {
  color: #fff;
  font-family: "MyriadPro-Regular", sans-serif;
}
.slider .slider-item h1 {
  font-weight: 300;
  height: 100%;
  font-size: 2.5rem;
  position: relative;
  left: 29%;
  bottom: 12rem;
}
.slider .slider-item p {
  text-align: center;
  margin: 12rem;
}
.slider .slick-dots {
  bottom: 3rem;
}
.slider .slick-next {
  right: 3rem;
  top: 46%;
  z-index: 6;
}
.slider .slick-prev {
  top: 46%;
  left: 2rem;
  z-index: 6;
}
.slider .slick-next:before {
  content: " ";
  background: url(../img/rignt-next.png) no-repeat;
  width: 20px;
  height: 40px;
  position: absolute;
}
.slider .slick-prev:before {
  content: " ";
  background: url(../img/left-next.png) no-repeat;
  width: 20px;
  height: 40px;
  position: absolute;
}
.slider .slick-dots li.slick-active button:before {
  color: #ffffff;
}
.slider .slick-track {
  top: -3rem;
}

.text {
  width: 100%;
  text-align: center;
  font-family: "Roboto Regular", sans-serif;
}
.text h3 {
  margin: 2.7rem 0 1.2rem;
  font-size: 1.4rem;
}
.text p {
  font-size: 0.75em;
  margin-bottom: 0.5em;
}
.text .text-button {
  width: 6rem;
  height: 2rem;
  margin-top: 1.56rem;
  border: 1px solid #000;
  border-radius: 1.87rem;
  outline: 0;
  background-color: #fff;
}

footer {
  font-family: "Roboto Regular", sans-serif;
  margin: 3rem 0 1.25rem;
  border-top: 1px solid #e5e5e5;
}
footer .footer-flex {
  display: flex;
  font-size: 0.75rem;
  margin: 1.2rem auto;
  justify-content: space-between;
  width: 31%;
}
footer span {
  margin: 1.4rem 0 0 4rem;
  font-size: 0.75rem;
  float: left;
}

@media (min-width: 980px) and (max-width: 1200px) {
  header {
    padding: 12px 0;
  }
  header .logo {
    width: 30%;
    height: 27px;
    padding-top: 7px;
  }

  .cards {
    width: 85%;
  }
  .cards .card {
    margin: 0 auto 40px;
  }

  .offers {
    width: 85%;
  }

  .benefits {
    width: 90%;
  }
  .benefits .benefits-flex {
    width: 85%;
  }
  .benefits .benefits-flex .benefits-card {
    width: 70%;
    margin: 0 auto 40px;
  }

  .slider {
    width: 100%;
  }
  .slider .slick-arrow:before {
    display: none;
  }
  .slider .slider-item h1 {
    font-size: 1.3em;
    left: 37%;
    bottom: 11.7rem;
  }

  .text {
    width: 90%;
    margin: auto;
  }

  footer span {
    margin: 20px 0 0 25px;
  }
  footer .footer-flex {
    width: 360px;
  }
}
@media only screen and (min-width: 1201px) {
  header .logo {
    height: 30px;
  }

  .cards .card-bottom {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  header {
    padding: 12px 0;
  }
  header .logo {
    width: 38%;
    height: 27px;
    padding-top: 7px;
  }

  .cards {
    flex-flow: column;
  }
  .cards .card {
    margin: 0 auto 40px;
    width: 85%;
  }

  .offers .offers-flex {
    flex-flow: column;
  }
  .offers .offers-flex .border {
    border-top: 1px solid #e5e5e5;
    margin: 30px auto;
    width: 80%;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  }

  .benefits .benefits-flex {
    flex-flow: column;
  }
  .benefits .benefits-flex .benefits-card {
    width: 70%;
    margin: 0 auto 40px;
  }

  .slider {
    width: 100%;
  }
  .slider .slick-arrow:before {
    display: none;
  }
  .slider .slider-item h1 {
    font-size: 1.3em;
    left: 37%;
    bottom: 11.7rem;
  }

  .text {
    width: 90%;
    margin: auto;
  }

  footer span {
    margin: 20px 0 0 25px;
  }
  footer .footer-flex {
    width: 360px;
  }
}
@media only screen and (max-width: 767px) {
  header {
    padding: 12px 0;
  }
  header .logo {
    width: 35%;
    height: 20px;
    padding-top: 7px;
  }

  .cards {
    flex-flow: column;
  }
  .cards .card {
    margin: 0 auto 40px;
    width: 85%;
  }

  .offers .offers-flex {
    flex-flow: column;
  }
  .offers .offers-flex .border {
    border-top: 1px solid #e5e5e5;
    margin: 30px auto;
    width: 80%;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  }

  .benefits .benefits-flex {
    flex-flow: column;
  }
  .benefits .benefits-flex .benefits-card {
    width: 70%;
    margin: 0 auto 40px;
  }

  .slider {
    width: 100%;
  }
  .slider .slick-arrow:before {
    display: none;
  }
  .slider .slider-item h1 {
    font-size: 1.3em;
    left: 31%;
    bottom: 11.7rem;
  }

  .text {
    width: 90%;
    margin: auto;
  }

  footer span {
    margin: 20px 0 0 25px;
  }
  footer .footer-flex {
    width: 55%;
  }
}
@media only screen and (max-width: 480px) {
  header {
    padding: 12px 0;
    width: 400px;
  }
  header .logo {
    width: 38%;
    height: 20px;
    padding-top: 7px;
  }

  article h1 {
    font-size: 1.2em;
  }

  .cards {
    flex-flow: column;
  }
  .cards .card {
    margin: 0 auto 40px;
    width: 85%;
  }
  .cards .card-bottom {
    margin: auto;
    width: 95%;
  }

  .offers .offers-flex {
    flex-flow: column;
  }
  .offers .offers-flex .border {
    border-top: 1px solid #e5e5e5;
    margin: 30px auto;
    width: 80%;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  }

  .benefits .benefits-flex {
    flex-flow: column;
  }
  .benefits .benefits-flex .benefits-card {
    width: 70%;
    margin: 0 auto 40px;
  }

  .slider {
    width: 100%;
  }
  .slider .slick-arrow:before {
    display: none;
  }
  .slider .slider-item h1 {
    font-size: 1.3em;
    left: 25%;
    bottom: 11.7rem;
  }

  .text {
    width: 90%;
    margin: auto;
  }

  footer span {
    margin: 20px 0 0 25px;
  }
  footer .footer-flex {
    width: 74%;
  }
}

/*# sourceMappingURL=style.css.map */
