* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../Fonts/3964.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../Fonts/3966.ttf");
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../Fonts/MyriadPro-Regular.ttf");
}

$display-inline: inline-block;
$color1: #2b87dc;
$color2: #1ab0b9;
$color3: #3a55af;

li {
  list-style: none;
}

header {
  margin: 1.1rem auto 1.5rem;
  padding: 0 2rem 0.91rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid #e5e5e5;

  .logo {
    width: 19%;
    height: 4vh;
    padding-left: 0.625rem;
  }
}

.back, .sing {
  padding-top: 0.25rem;
  img, p {
    display: $display-inline
  }
  img {
    height: 12px;
  }
  p {
    font-family: "Roboto Medium", sans-serif;
    color: black;
    font-size: 12px;
    letter-spacing: 1px;
  }
  a {
    text-decoration: none;
  }
}

article {
  margin-top: 2.9rem;
  text-align: center;
  line-height: 2.9rem;

  h1 {
    font-family: "Roboto Medium", sans-serif;
    font-weight: initial;
    font-size: 1.5em;
    line-height: 1;
  }
  p {
    font-family: "Roboto Regular", sans-serif;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 76%;
  margin: 30px auto 0;

  .card-background {
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
    padding: 0 -1px;
  }

  .card-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  }

  .card {
    width: 31%;
    text-align: center;
    font-family: "Roboto Regular", sans-serif;

    /*------------top pictures---------------*/
    .img {
      height: 24vh;
    }
    .img1 {
      background: url("../img/img-card1.png");
    }
    .img2 {
      background: url("../img/img-card2.png");
    }
    .img3 {
      background: url("../img/img-card3.png");
    }
    /*---------------------------------------------*/

    h5 {
      font-weight: 500;
      font-size: 21px;
    }
    .size {
      font-size: 1.3rem;
    }
    p {
      font-size: 0.8rem;
    }

    .button {
      outline: 0;
      margin-top: 1.25rem;
      border-radius: 2em;
      width: 8.125rem;
      height: 2.5rem;
      border: 1px solid #fff;
      span {
        color: white;
      }
    }

    .button1 {
      background-color: $color1;
    }

    .button2 {
      background-color: #fff;
      border: 1px solid $color2;
      span {
        color: $color2;
      }
    }

    .button3 {
      background-color: $color3;
    }

    /*--------color title cards--------*/
    .color1 {
      color: $color1;
    }

    .color2 {
      color: $color2;
    }

    .color3 {
      color: $color3;
    }
    /*---------------------------------------*/
  }

  .color1, .color2, .color3 {
    margin: 1.1rem 0 0.5rem;
  }

  .prise {
    font-size: 13px;
  }

  .card-bottom {
    text-align: left;

    ul {
      font-family: "Roboto Regular", sans-serif;
      font-size: 0.75rem;
      border-top: 1px dashed #e5e5e5;
      margin: 1.4rem auto 0;
      padding-top: 0.95rem;
      line-height: 2rem;
      width: 85%;
      letter-spacing: 0.025rem;
    }

    .checkbox {
      width: 85%;
      margin: 0.4rem auto 0.3rem;
      display: flex;
      flex-direction: column;
      line-height: 1.9rem;

      label {
        font-family: "Roboto Regular", sans-serif;
        font-size: 12px;

        input {
          margin-right: 10px;
        }
      }
    }
    p {
      font-family: "Roboto Medium", sans-serif;
      font-size: 12px;
      width: 14%;
      margin: 3px auto 23px;
    }
  }

  .bottom-color1 {
    p {
      width: 16%;
      margin: 0 auto 1.3rem;
      letter-spacing: 0.1rem;
      color: $color1;
    }
    li::before {
      content: url("../img/ChekColor1.png");
      padding-right: 3px;
    }
  }

  .bottom-color2 {
    p {
      width: 16%;
      margin: 67px auto 23px;
      letter-spacing: 1px;
      color: $color2;
    }

    li::before {
      content: url("../img/ChekColor2.png");
      padding-right: 3px;
    }
  }

  .bottom-color3 {
    p {
      width: 16%;
      margin: 36px auto 23px;
      letter-spacing: 1px;
      color: $color3;
    }

    ul {
      li::before {
        content: url("../img/ChekColor3.png");
        padding-right: 3px;
      }
    }

  }
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background-image: linear-gradient(#000 10px, #000 10px);
  color: #fff;
}


.offers {
  margin: 2.8rem auto 3.75rem;
  width: 69%;
  text-align: center;

  .offers-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 1.9rem;

    .border {
      border-right: 1px solid #e5e5e5;
    }
  }

  p {
    font-family: "Roboto Regular", sans-serif;
    font-size: 0.9em;
    margin-bottom: 1.1rem;

  }

  .offers-card {
    .offers-card-button {
      outline: 0;
      margin-top: 0.6rem;
      border-radius: 3em;
      width: 8.1rem;
      height: 6vh;
      border: 1px solid #fff;
      background-color: $color2;

      span {
        color: #fff;
      }
    }

    .offers-card-title {
      font-family: "Roboto Regular", sans-serif;
      font-size: 1.3rem;
      color: $color2;
    }
  }
}

.benefits {
  text-align: center;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  padding-top: 1.7rem;
  font-family: "Roboto Regular", sans-serif;

  .benefits-title {
    font-size: 2.1rem;
  }

  .benefits-flex {
    margin: 2.6rem auto 2.3rem;
    width: 74%;
    display: flex;
    justify-content: space-between;

    .benefits-card {
      width: 20%;

      img {
        width: 1rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 0.8rem;
      }

      .text-bold {
        font-weight: bold;
        margin-bottom: 1.7rem;
      }
    }
  }
}

.slider {
  width: 95%;
  margin: auto;
  height: 60vh;
  overflow: hidden;
  z-index: 6;

  /*-----------slides img--------*/
  .slider-item1 {
    background: url("../img/Slider.jpg") no-repeat;
    background-size: cover;
  }
  .slider-item2 {
    background: url("../img/Slider1.jpg") no-repeat;
    background-size: cover;
  }
  .slider-item3 {
    background: url("../img/Slider2.jpg") no-repeat;
    background-size: cover;
  }
  .slider-item4 {
    background: url("../img/Slider1.jpg") no-repeat;
    background-size: cover;
  }
  /*----------------------------------*/
  .slider-item {

    color: #fff;
    font-family: "MyriadPro-Regular", sans-serif;
    h1 {
      font-weight: 300;
      height: 100%;
      font-size: 2.5rem;
      position: relative;
      left: 29%;
      bottom: 12rem;
    }
    p {
      text-align: center;
      margin: 12rem;
    }
  }
  .slick-dots {
    bottom: 3rem;
  }
  .slick-next {
    right: 3rem;
    top: 46%;
    z-index: 6;
  }
  .slick-prev {
    top: 46%;
    left: 2rem;
    z-index: 6;
  }
  .slick-next:before {
    content: " ";
    background: url(../img/rignt-next.png) no-repeat;
    width: 20px;
    height: 40px;
    position: absolute;
  }
  .slick-prev:before {
    content: " ";
    background: url(../img/left-next.png) no-repeat;
    width: 20px;
    height: 40px;
    position: absolute;
  }
  .slick-dots li.slick-active button:before {
    color: #ffffff;
  }
  .slick-track {
    top: -3rem;
  }
}

.text {
  text-align: center;
  font-family: "Roboto Regular", sans-serif;
  h3 {
    margin: 2.7rem 0 1.2rem;
    font-size: 1.4rem;
  }
  p {
    font-size: 0.75em;
    margin-bottom: 0.5em;
  }
  .text-button {
    width: 6rem;
    height: 2rem;
    margin-top: 1.56rem;
    border: 1px solid #000;
    border-radius: 1.87rem;
    outline: 0;
    background-color: #fff;
  }
}

footer {
  font-family: "Roboto Regular", sans-serif;
  margin: 3rem 0 1.25rem;
  border-top: 1px solid #e5e5e5;
  .footer-flex {
    display: flex;
    font-size: 0.75rem;
    margin: 1.2rem auto;
    justify-content: space-between;
    width: 31%;
  }

  span {
    margin: 1.4rem 0 0 4rem;
    font-size: 0.75rem;
    float: left;
  }
}




